
.banners
    @extends .padding-zero

#banner-container
    overflow hidden

.list-acoes
    margin-top 40px

#c-banner
    z-index: 999;
    position: relative;
.caixa-leort
    position: absolute
    z-index 3
    margin-left: -230px

.esteticista
    text-align: left
    border-left: 1px solid $colors['verde-texto']

.esteticista-container
    @extends .align-center
    & > *
        align-self: center

.esteticista-social
    @extends .align-flex
    margin-top: 5px
    a 
        margin-right 5px

.funcao
    @extends .padding-zero
    @extends .margin-zero
    line-height: remify(10px)
    font-size: remify(12px)

.icon-acoes
    max-width 50px
    margin-right: 10px

.bandeira
    @extends .absolute
    bottom: -30px
    left 0
    z-index 9999
.section
    padding 100px 0
.leort-desc
    box-shadow: 0px 4px 1px $shadow-color
.marca-desc
    margin-top: 10px
    margin-bottom: 30px


.text-leort
    margin-top: 130px

.line-blue
    width: 100%
    height 1px
    background-image: url(../img/linha-striort.png)
    background-size: contain;

.line-small
    background-image: url(../img/linha-striort.png)
    background-position: center center
    background-size: contain
    height 2px
.line-h3
    @extends .line-small
    max-width 450px
    height 3px
.line-width
    max-width 150px;
    margin: auto
    height 2px
    background-image: url(../img/linha-striort.png)
    background-position: center center
    background-size: contain

.c-banner
    display: flex

.background-cover
    background-size: cover
    background-position: center center
.background-topo
    background-image: url(../img/striort-background-topo.jpg)
    @extends .background-cover


.background-topo2
    background-image: url(../img/background-gravida-striort.jpg)
    @extends .background-cover

#curso
    background-image: url(../img/background-mulher-striort.jpg)
    background-position: center right
    background-repeat: no-repeat
.centralizar
    display: flex
    justify-content: center
    width: 100%;
    height: 100%;
    & > *
        align-self: center
    .centralizar-interno
        display: flex
        justify-content: space-around
        & > *
            align-self: center

.texto-banner-gravida
    justify-content: start 
    & > div
        margin-left: 50px

.texto-banner-1
    font-size: 30px
    line-height: 1.2

.sem-padding
    padding: 0

.section 
    padding remify(50px) 0

.linha-meio
    font-weight: 100

.bloco-melhoria
    background-color: #3a4f46
    color: #80bfaa
    height:500px
    text-align: center

.linha-verde-agua
    border-left: 1px solid #82beab
    padding: 20px

.arrow-right
    right 0
    transform: scaleX(-1)
.80
    font-size: remify(50px)

.striort-conheca
    .striort-title
        h4
            margin: 0
            padding 0


.estec-docs
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 30px
    list-style: none;

    text-align: center;
}
.estec-docs li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.estec-docs li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.estec-docs li button:hover,
.estec-docs li button:focus
{
    outline: none;
}
.estec-docs li button:hover:before,
.estec-docs li button:focus:before
{
    opacity: 1;
}
.estec-docs li button:before
{
    font-family: 'slick';
    font-size: 12px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: 1;
    color: $colors['verde-texto'];

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.estec-docs li.slick-active button:before
{
    opacity: .75;
    color: $colors['verde-texto'];
}
@media screen and (max-width: $queries['large'])
    .leort-image-text
        padding-top 20px
        padding-bottom: 0
    .text-leort
        margin-top: 0px
    .bandeira
        max-width: 550px;
        bottom: 0;
        left: -70px;
    .seta-left
        left -10px
    .seta-right
        right -10px

@media screen and (max-width: $queries['medium'])
    .80
        font-size: remify(45px)
    .esteticista
        text-align: center
        border-left: 0
        border-top: 1px solid $colors['verde-texto'];
        margin-top: 20px;
        padding-top 20px
    .esteticista-social
        justify-content: center
    .icone-striort
        max-width 140px
    footer
        .container
            div
                margin-top 20px
    .texto-banner-gravida
        justify-content: start 
        & > div
            margin-left: 0
    .esteticista-container
        @extends .align-center
        flex-direction: column
        & > *
            align-self: center


@media screen and (max-width: $queries['small'])
    .leort-desc
        margin-top 40px
    //tetste
    .item-c
        h1
        p 
            text-align: center
        p 
            font-size: 18px
            line-height: 1.2
            margin-bottom: 10px
            img
                margin: auto

        .text-banner
            img
                margin: auto
@media screen and (max-width: 390px)
    .background-topo
        background-position: 44%
    .h1-banner
        font-size: 20px
    .icone-striort
        max-width 100px
    .bandeira
        bottom: -20px;     
        max-width: 420px;     
        left: -120px;
        