header
	height: auto
	padding-top 20px
	position: fixed
	left 0
	top: 0
	width: 100%
	z-index 99
	.container
		padding-bottom: 20px
	.rede-sociais
		text-align: left
	
.logo-striort
	text-align: left 

.logo-container
	padding: 15px 0

.center-vertical
	@extends .flex-center-vertical

footer
	@extend .text-inverse
	p 
		@extend .light


.rede-sociais
	padding-right: 10px
	display: flex
	justify-content: space-around

header
	background-color: alpha($colors["inverse"], 0.8)
	border-bottom 1px solid $colors['verde-texto']

@media screen and (max-width: $queries['medium'])
	header
		height: auto
		background-repeat: repeat-x
		padding-top 15px
		.container
			padding-bottom: 15px
		.rede-sociais
			text-align: right

	.logo-leort
		text-align: center


@media screen and (max-width: $queries['small'])
	.rede-sociais-insta
	.rede-sociais-face
		margin: auto
		max-width 30px
		display block

	
