.container
    .row
        .col-sm-12
            h2.text-inverse.text-center.pd-60-bottom.text-uppercase CLIQUE E CONFIRA NOSSA AGENDA Striort®
            #abrirAgenda(href="/")
                img.img-responsive.center-block(src="img/agenda.png", alt="Agenda Striort")
    .row
        #agenda-c.text-inverse
            .agenda-item
                p.data 14/04/2018
                p.cidade Porto Velho - RO
            .agenda-item
                p.data 14/04/2018
                p.cidade Porto Velho - RO
            .agenda-item
                p.data 14/04/2018
                p.cidade Porto Velho - RO
            .agenda-item
                p.data 14/04/2018
                p.cidade Porto Velho - RO
            .agenda-item
                p.data 14/04/2018
                p.cidade Porto Velho - RO
            .agenda-item
                p.data 14/04/2018
                p.cidade Porto Velho - RO
                

