.container
    .row
        .col-sm-12
            h2.text-inverse.text-center.pd-60-bottom.text-uppercase CLIQUE E CONFIRA NOSSA AGENDA Striort®
            #abrirAgenda(href="/")
                img.img-responsive.center-block(src="img/agenda.png" + version, alt="Agenda Striort")
    #agenda-c.text-inverse.wrap-flex.flex
        .agenda-item.abrirAgenda.text-center
            p.data 02/07/2018
            p.cidade Campo Grande/MS
        .agenda-item.abrirAgenda.text-center
            p.data 03/07/2018
            p.cidade Campina Grande/PB
        .agenda-item.abrirAgenda.text-center
            p.data 04/07/2018
            p.cidade Goiânia/GO
        .agenda-item.abrirAgenda.text-center
            p.data 07/07/2018
            p.cidade Curitiba/PR
        .agenda-item.abrirAgenda.text-center
            p.data 07/07/2018
            p.cidade Rio de Janeiro/RJ
        .agenda-item.abrirAgenda.text-center
            p.data 09/07/2018
            p.cidade Pederneiras/SP
        .agenda-item.abrirAgenda.text-center
            p.data 09/07/2018
            p.cidade Governador Valadares/MG 
        .agenda-item.abrirAgenda.text-center
            p.data 12/07/2018
            p.cidade Marataízes/ES
        .agenda-item.abrirAgenda.text-center
            p.data 14/07/2018
            p.cidade Canoas/RS 
        .agenda-item.abrirAgenda.text-center
            p.data 14/07/2018
            p.cidade Rio do Sul/SC
        .agenda-item.abrirAgenda.text-center
            p.data 14/07/2018
            p.cidade Mossoró/RN
        .agenda-item.abrirAgenda.text-center
            p.data 14/07/2018
            p.cidade São Paulo/SP
        .agenda-item.abrirAgenda.text-center
            p.data 15/07/2018
            p.cidade Nova Friburgo/RJ
        .agenda-item.abrirAgenda.text-center
            p.data 20/07/2018
            p.cidade Ribeirão Preto/SP
        .agenda-item.abrirAgenda.text-center
            p.data 21/07/2018
            p.cidade Uberlândia/MG
        .agenda-item.abrirAgenda.text-center
            p.data 21/07/2018
            p.cidade Maceió/AL
        .agenda-item.abrirAgenda.text-center
            p.data 21/07/2018
            p.cidade Vitória da Conquista/BA
        .agenda-item.abrirAgenda.text-center
            p.data 21/07/2018
            p.cidade São José dos Campos/SP
        .agenda-item.abrirAgenda.text-center
            p.data 26/07/2018
            p.cidade Cachoeiro de Itapemirim/ES
        .agenda-item.abrirAgenda.text-center
            p.data 28/07/2018
            p.cidade Brasília/DF
        .agenda-item.abrirAgenda.text-center
            p.data 28/07/2018
            p.cidade Santa Maria/RS
        .agenda-item.abrirAgenda.text-center
            p.data 28/07/2018
            p.cidade Guanambi/BA
        .agenda-item.abrirAgenda.text-center
            p.data 28/07/2018
            p.cidade Fortaleza/CE 
        .agenda-item.abrirAgenda.text-center
            p.data 28/07/2018
            p.cidade Londrina/PR
        .agenda-item.abrirAgenda.text-center
            p.data 28/07/2018
            p.cidade Patos/PB
        .agenda-item.abrirAgenda.text-center
            p.data 04/08/2018
            p.cidade Catalão/GO
        .agenda-item.abrirAgenda.text-center
            p.data 06/08/2018
            p.cidade SÃO PAULO/SP 
        .agenda-item.abrirAgenda.text-center
            p.data 10/08/2018
            p.cidade Bauru/SP 
        .agenda-item.abrirAgenda.text-center
            p.data 11/08/2018
            p.cidade Porto Alegre/RS  
        .agenda-item.abrirAgenda.text-center
            p.data 11/08/2018
            p.cidade Natal/RN 
        .agenda-item.abrirAgenda.text-center
            p.data 11/08/2018
            p.cidade Ubatuba/SP 
        .agenda-item.abrirAgenda.text-center
            p.data 11/08/2018
            p.cidade Rio Verde/GO
        .agenda-item.abrirAgenda.text-center
            p.data 18/08/2018
            p.cidade Joinville/SC
        .agenda-item.abrirAgenda.text-center
            p.data 18/08/2018
            p.cidade Caxias do Sul/RS  
        .agenda-item.abrirAgenda.text-center
            p.data 18/08/2018
            p.cidade Belo Horizonte / MG
        .agenda-item.abrirAgenda.text-center
            p.data 18/08/2018
            p.cidade Rio de Janeiro / RJ
        .agenda-item.abrirAgenda.text-center
            p.data 24/08/2018
            p.cidade Piracicaba/SP 
        .agenda-item.abrirAgenda.text-center
            p.data 25/08/2018
            p.cidade Chapecó/SC
        .agenda-item.abrirAgenda.text-center
            p.data 25/08/2018
            p.cidade Juazeiro do Norte/CE 
        .agenda-item.abrirAgenda.text-center
            p.data 25/08/2018
            p.cidade Aracaju/SE 
        .agenda-item.abrirAgenda.text-center
            p.data 25/08/2018
            p.cidade Itabuna/BA  
        .agenda-item.abrirAgenda.text-center
            p.data 25/08/2018
            p.cidade Santos/SP  
        .agenda-item.abrirAgenda.text-center
            p.data 25/08/2018
            p.cidade Itabuna/BA  
        .agenda-item.abrirAgenda.text-center
            p.data 26/08/2018
            p.cidade Búzios/RJ 
        .agenda-item.abrirAgenda.text-center
            p.data 01/09/2018
            p.cidade Recife/PE   
        .agenda-item.abrirAgenda.text-center
            p.data 01/09/2018
            p.cidade Montes Claros/MG   
        .agenda-item.abrirAgenda.text-center
            p.data 07/09/2018
            p.cidade Pederneiras/SP 
        .agenda-item.abrirAgenda.text-center
            p.data 15/09/2018
            p.cidade Brusque/SC
        .agenda-item.abrirAgenda.text-center
            p.data 15/09/2018
            p.cidade SÃO PAULO/SP
        .agenda-item.abrirAgenda.text-center
            p.data 15/09/2018
            p.cidade Presidente Prudente/SP 
        .agenda-item.abrirAgenda.text-center
            p.data 15/09/2018
            p.cidade Vitória da Conquista/BA
        .agenda-item.abrirAgenda.text-center
            p.data 16/09/2018
            p.cidade Porangatu/GO 
        .agenda-item.abrirAgenda.text-center
            p.data 16/09/2018
            p.cidade Rio de Janeiro/RJ
        .agenda-item.abrirAgenda.text-center
            p.data 22/09/2018
            p.cidade Teresina/PI 
        .agenda-item.abrirAgenda.text-center
            p.data 22/09/2018
            p.cidade Juíz de Fora/ MG  
        .agenda-item.abrirAgenda.text-center
            p.data 23/09/2018
            p.cidade Rio das Ostras/RJ 
        .agenda-item.abrirAgenda.text-center
            p.data 28/09/2018
            p.cidade Sorocaba/SP
        .agenda-item.abrirAgenda.text-center
            p.data 29/09/2018
            p.cidade Itu/SP
        .agenda-item.abrirAgenda.text-center
            p.data 29/09/2018
            p.cidade Itumbiara/GO
        .agenda-item.abrirAgenda.text-center
            p.data 29/09/2018
            p.cidade Salvador/BA 
        .agenda-item.abrirAgenda.text-center
            p.data 29/09/2018
            p.cidade Passo Fundo/RS  
        .agenda-item.abrirAgenda.text-center
            p.data 29/09/2018
            p.cidade Criciúma/SC 
