.container
    .row
        .col-sm-12
            h2.text-inverse.text-center.pd-60-bottom.text-uppercase CLIQUE E CONFIRA NOSSA AGENDA Striort®
            #abrirAgenda(href="/")
                img.img-responsive.center-block(src="img/agenda.png" + version, alt="Agenda Striort")
    #agendaSemSlick
    #agenda-c.text-inverse.wrap-flex.flex
