.container
    .row
        .col-sm-12
            h2.text-inverse.text-center.pd-60-bottom.text-uppercase CLIQUE E CONFIRA NOSSA AGENDA Striort®
            #abrirAgenda(href="/")
                img.img-responsive.center-block(src="img/agenda.png", alt="Agenda Striort")
    #agenda-c.text-inverse
        .agenda-item.abrirAgenda
            p.data 16/04/2018
            p.cidade Juiz Fora/MG
        .agenda-item.abrirAgenda
            p.data 23/04/2018
            p.cidade Florianópolis/SC
        .agenda-item.abrirAgenda
            p.data 29/04/2018
            p.cidade Sinop/MT
        .agenda-item.abrirAgenda
            p.data 30/04/2018
            p.cidade Sorocaba/SP
                

