.container
    .row
        .col-sm-12
            h2.text-inverse.text-center.pd-60-bottom.text-uppercase CLIQUE E CONFIRA NOSSA AGENDA Striort®
            #abrirAgenda(href="/")
                img.img-responsive.center-block(src="img/agenda.png", alt="Agenda Striort")
    #agenda-c.text-inverse
        .agenda-item.abrirAgenda
            p.data 06/05/2018
            p.cidade Salvador/BA
        .agenda-item.abrirAgenda
            p.data 12/05/2018
            p.cidade Sinop/MT
        .agenda-item.abrirAgenda
            p.data 14/05/2018
            p.cidade Cascavel/PR
        .agenda-item.abrirAgenda
            p.data 20/05/2018
            p.cidade São Luis/MA
        .agenda-item
                p.data 20/05/2018
                p.cidade Campinas/SP
        .agenda-item
            p.data 28/05/2018
            p.cidade Brasília/DF
        .agenda-item
            p.data 28/05/2018
            p.cidade Rio de Janeiro/RJ
        .agenda-item
            p.data 30/05/2018
            p.cidade Campo Grande/MS
        .agenda-item
                p.data 04/06/2018
                p.cidade Chapecó/SC
        .agenda-item
            p.data 04/06/2018
            p.cidade  Vitória/SE
        .agenda-item
            p.data 10/06/2018
            p.cidade Uberlândia/MG
        .agenda-item
            p.data 24/06/2018
            p.cidade Goiânia/GO
        .agenda-item
            p.data 01/07/2018
            p.cidade Cuiabá
                

