.container
    .row
        .col-sm-12
            h2.text-inverse.text-center.pd-60-bottom.text-uppercase CLIQUE E CONFIRA NOSSA AGENDA Striort®
            #abrirAgenda(href="/")
                img.img-responsive.center-block(src="img/agenda.png", alt="Agenda Striort")
    #agenda-c.text-inverse.wrap-flex.flex
        .agenda-item.abrirAgenda.text-center
            p.data 08/06/2018
            p.cidade Campo Grande/MS
        .agenda-item.abrirAgenda.text-center
            p.data 08/06/2018
            p.cidade Guanambi/BA
        .agenda-item.abrirAgenda.text-center
            p.data 09/06/2018
            p.cidade Mossoró/RN
        .agenda-item.abrirAgenda.text-center
            p.data 09/06/2018
            p.cidade Aracaju/SE
        .agenda-item.abrirAgenda.text-center
            p.data 09/06/2018
            p.cidade São Paulo/SP
        .agenda-item.abrirAgenda.text-center
            p.data 09/06/2018
            p.cidade Porto Alegre/RS
        .agenda-item.abrirAgenda.text-center
            p.data 09/06/2018
            p.cidade Balneário Camboriú/SC
        .agenda-item.abrirAgenda.text-center
            p.data 09/06/2018
            p.cidade Belo Horizonte / MG
        .agenda-item.abrirAgenda.text-center
            p.data 10/06/2018
            p.cidade Belo Horizonte / MG
        .agenda-item.abrirAgenda.text-center
            p.data 10/06/2018
            p.cidade Santa Bárbara D'Oeste/SP
        .agenda-item.abrirAgenda.text-center
            p.data 11/06/2018
            p.cidade Campo Grande/MS
        .agenda-item.abrirAgenda.text-center
            p.data 14/06/2018
            p.cidade Vitória/ES
        .agenda-item.abrirAgenda.text-center
            p.data 15/06/2018
            p.cidade Avaré/SP
        .agenda-item.abrirAgenda.text-center
            p.data 16/06/2018
            p.cidade Caruaru/PE
        .agenda-item.abrirAgenda.text-center
            p.data 16/06/2018
            p.cidade Santos/SP
        .agenda-item.abrirAgenda.text-center
            p.data 16/06/2018
            p.cidade Tubarão/SC
        .agenda-item.abrirAgenda.text-center
            p.data 16/06/2018
            p.cidade Palmas/TO
        .agenda-item.abrirAgenda.text-center
            p.data 16/06/2018
            p.cidade Rio de Janeiro / RJ
        .agenda-item.abrirAgenda.text-center
            p.data 20/06/2018
            p.cidade Brasília/DF
        .agenda-item.abrirAgenda.text-center
            p.data 22/06/2018
            p.cidade Santa Fé do Sul/SP
        .agenda-item.abrirAgenda.text-center
            p.data 23/06/2018
            p.cidade Campina Grande/PB
        .agenda-item.abrirAgenda.text-center
            p.data 23/06/2018
            p.cidade Manhuaçu/MG
        .agenda-item.abrirAgenda.text-center
            p.data 24/06/2018
            p.cidade Florianópolis/SC
        .agenda-item.abrirAgenda.text-center
            p.data 24/06/2018
            p.cidade Cabo Frio / RJ
        .agenda-item.abrirAgenda.text-center
            p.data 25/06/2018
            p.cidade Passo Fundo/RS
        .agenda-item.abrirAgenda.text-center
            p.data 29/06/2018
            p.cidade João Pessoa/PB
        .agenda-item.abrirAgenda.text-center
            p.data 30/06/2018
            p.cidade Lages/SC
        .agenda-item.abrirAgenda.text-center
            p.data 30/06/2018
            p.cidade São Paulo/SP
        .agenda-item.abrirAgenda.text-center
            p.data 30/06/2018
            p.cidade Ponta Porã/MS
        .agenda-item.abrirAgenda.text-center
            p.data 30/06/2018
            p.cidade Goiania/GO
        .agenda-item.abrirAgenda.text-center
            p.data 30/06/2018
            p.cidade Juíz de Fora/ MG
        .agenda-item.abrirAgenda.text-center
            p.data 04/07/2018
            p.cidade Goiânia/GO
        .agenda-item.abrirAgenda.text-center
            p.data 07/07/2018
            p.cidade Curitiba/PR