.c-banner.background-leort
    .item-c.centralizar.texto-banner-gravida
        .col-xs-6.col-sm-5.col-md-7
            .texto-banner
                h2.text-verde-agua.text-uppercase.text-center.banner-title-striort  Conheça os Segredos <br>do Striort®
                p.text-center
                    a.btn.btn-default.btn-lg.block-center(href="http://leort.com.br", target="_blanck") Saiba Mais
 
.c-banner.background-topo
    .centralizar
        .banner-especialistas.col-xs-12
            h4.text-verde-agua.pd-40-bottom.text-center Especialitas em 
                span.text-verde-texto estrias
            .centralizar-interno
                h2.h1-banner.text-verde-agua.light Antes
                img.icone-striort(src="img/Logo-striort.png", alt="Logo Striort")
                h2.h1-banner.text-verde-agua.light Depois      