//.c-banner.background-update-striort
    .centralizar
        a(href="http://www.bm.com.vc/br/inscrever?idProduto=0000000001&idLocalidade=006&idAgenda=00002" target="_blanck")
.c-banner.background-leort
    .item-c.centralizar.texto-banner-gravida
        .col-xs-6.col-sm-5.col-md-7
            .texto-banner
                h2.text-verde-agua.text-uppercase.text-center.banner-title-striort  Conheça <br> um dos Segredos <br>do Striort®
                p.text-center
                    a.btn.btn-default.btn-lg.block-center(href="http://leort.com.br", target="_blanck") Saiba Mais
 
.c-banner.background-instagram
    .centralizar
        .banner-especialistas.col-xs-12
         
