.container
    .row
        .col-xs-12.text-center
            h2.text-uppercase.text-inverse.text-center.pd-40-bottom
                 span(style="font-weight:400;") Diamond
                 
            p.text-inverse O curso <strong>STRIORT®</strong> acaba de ganhar mais uma abordagem, totalmente especial. 
                        | Uma metodologia ombro a ombro, prime, que prioriza o aprendizado individual em turmas muito pequenas, de no máximo 5 alunos.
                        | É mais proximidade para você aprender todos os segredos do melhor tratamento para estrias. Melhora da aparência em até 80% já na primeira sessão.                    
            h4.bold SEJA VOCÊ TAMBÉM UMA HABILITADA STRIORT®DIAMOND.