.container
    .row.pd-40 
        h2.text-verde-agua.text-center.pd-60-bottom Melhora de até <strong class="80">80%</strong> nas Estrias já na 1° Sessão!
        #galeriaEst
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/nelciane-antes.png" + version, alt="Antes do Striort")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/nelciane-depois.png" + version, alt="Depois do Striort")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Nelciane Gomes
                            p.text-inverse.funcao Habilitada Oficial
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/vitalquick/" target="_blank", rel="noopener")
                                    img(src="img/icon-insta.png" + version, alt="Instagram")
                                //a(href="https://www.facebook.com/clinicaspazzio" target="_blank", rel="noopener")
                                    img(src="img/icon-face.png", alt="Facebook")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/natiele-antes.png" + version, alt="Antes do Striort")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/natiele-depois.png" + version, alt="Depois do Striort")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Natiele Carpes
                            p.text-inverse.funcao Habilitada Oficial
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/estetica.naticarpes/" target="_blank", rel="noopener")
                                    img(src="img/icon-insta.png" + version, alt="Instagram")
            
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/maria-antes.png" + version, alt="Antes do Striort")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/maria-depois.png" + version, alt="Depois do Striort")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Maria José
                            p.text-inverse.funcao Habilitada Ofiial
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/estetica.misteriosdocorpo/" target="_blank", rel="noopener")
                                    img(src="img/icon-insta.png" + version, alt="Instagram")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/lilia-antes.png" + version, alt="Antes do Striort")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/lilia-depois.png" + version, alt="Depois do Striort")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Lilia Coutinho
                            p.text-inverse.funcao Habilitada Oficial
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/dra.liliacoutinho_bioesteta/" target="_blank", rel="noopener")
                                    img(src="img/icon-insta.png" + version, alt="Instagram da Amanda")
                                //a(href="https://www.facebook.com/clinicadermoloung" target="_blank", rel="noopener")
                                    img(src="img/icon-face.png", alt="Facebook da Amanda")
            
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/herika-antes.png" + version, alt="Antes do Striort")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/herika-depois.png" + version, alt="Depois do Striort")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Hérika Costa
                            p.text-inverse.funcao Habilitada Oficial
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/herikaestetica/" target="_blank", rel="noopener")
                                    img(src="img/icon-insta.png" + version, alt="Instagram")
                                //a(href="https://www.facebook.com/clinicadermoloung" target="_blank", rel="noopener")
                                    img(src="img/icon-face.png", alt="Facebook")
            
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/gislene-antes.png" + version, alt="Antes do Striort")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/gislene-depois.png" + version, alt="Depois do Striort")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Gislene Botelho
                            p.text-inverse.funcao Habilitada Oficial
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/gisleneestetica/" target="_blank", rel="noopener")
                                    img(src="img/icon-insta.png" + version, alt="Instagram")
                                //a(href="https://www.facebook.com/fisioterapia.ig" target="_blank", rel="noopener")
                                    img(src="img/icon-face.png", alt="Facebook")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/daniele-antes.png" + version, alt="Antes do Striort")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/daniele-depois.png" + version, alt="Depois do Striort")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Daniele Petrucelli
                            p.text-inverse.funcao Habilitada Oficial 
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/danielepetrucelliestetica/" target="_blank", rel="noopener")
                                    img(src="img/icon-insta.png" + version, alt="Instagram")
                                //a(href="https://www.facebook.com/fisioterapia.ig" target="_blank", rel="noopener")
                                    img(src="img/icon-face.png", alt="Facebook")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/carol-antes.png" + version, alt="Antes do Striort")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/carol-depois.png" + version, alt="Depois do Striort")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Carol Andrade
                            p.text-inverse.funcao Esteticista e Cosmetôlogista
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/esteticacarolandrade/" target="_blank", rel="noopener")
                                    img(src="img/icon-insta.png" + version, alt="Instagram")

            //.col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/claudia-barriga-com-estrias.png", alt="Antes do Striort")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/claudia-barriga-sem-estrias.png", alt="Depois do Striort")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Claudia Henn
                            p.text-inverse.funcao Fisioterapeuta
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/claudiahenn/" target="_blank", rel="noopener")
                                    img(src="img/icon-insta.png", alt="Instagram")
                                a(href="https://www.facebook.com/claudia.henn.39" target="_blank", rel="noopener")
                                    img(src="img/icon-face.png", alt="Facebook")

            //.col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/andressa-perna-com-estrias.png", alt="Antes do Striort")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/andressa-perna-sem-estrias.png", alt="Depois do Striort")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Andressa Moraes
                            p.text-inverse.funcao Fisioterapeuta
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/dra.andressamoraes/" target="_blank", rel="noopener")
                                    img(src="img/icon-insta.png", alt="Instagram")
                                a(href="https://www.facebook.com/dremoraes" target="_blank", rel="noopener")
                                    img(src="img/icon-face.png", alt="Facebook")