.lisa
    img.img-responsive(src="img/zebra-blinking.gif", alt="Mascote Lisa")
.container-fluid
    .row.pd-40 
        .col-lg-6.col-lg-offset-3
            h2.text-verde.text-center.bold Transformando 
                span.texto-esteticista vidas pelo mundo
            h3.text-verde.text-center.pd-60-bottom Melhora de até <strong class="80">80%</strong> nas Estrias já na 1° Sessão!
            #galeriaEst
                .col-sm-6.item-esteticista
                    .esteticista-container
                        .col-xs-12.col-sm-10.pd-20-top
                            .row
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img1-antes.png" + version, alt="Antes do Striort")
                                    h4.text-verde-agua.text-center Antes
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img1-depois.png" + version, alt="Depois do Striort")
                                    h4.text-verde-agua.text-center Depois
                        //.col-xs-12.col-sm-6.esteticista
                                h3.text-verde-agua.margin-zero Nelciane Gomes
                                p.text-inverse.funcao Habilitada Oficial
                                p.text-inverse.margin-zero Conheça
                                .esteticista-social.pd-20-top
                                    a(href="https://www.instagram.com/vitalquick/" target="_blank", rel="noopener")
                                        img(src="img/icon-insta.png" + version, alt="Instagram")
                                    //a(href="https://www.facebook.com/clinicaspazzio" target="_blank", rel="noopener")
                                        img(src="img/icon-face.png", alt="Facebook")

                .col-sm-12.item-esteticista
                    .esteticista-container
                        .col-xs-12.col-sm-10.pd-20-top
                            .row
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img2-antes.png" + version, alt="Antes do Striort")
                                    h4.text-verde-agua.text-center Antes
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img2-depois.png" + version, alt="Depois do Striort")
                                    h4.text-verde-agua.text-center Depois
                        //.col-xs-12.col-sm-6.esteticista
                                h3.text-verde-agua.margin-zero Natiele Carpes
                                p.text-inverse.funcao Habilitada Oficial
                                p.text-inverse.margin-zero Conheça
                                .esteticista-social.pd-20-top
                                    a(href="https://www.instagram.com/estetica.naticarpes/" target="_blank", rel="noopener")
                                        img(src="img/icon-insta.png" + version, alt="Instagram")
                
                .col-sm-12.item-esteticista
                    .esteticista-container
                        .col-xs-12.col-sm-10.pd-20-top
                            .row
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img3-antes.png" + version, alt="Antes do Striort")
                                    h4.text-verde-agua.text-center Antes
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img3-depois.png" + version, alt="Depois do Striort")
                                    h4.text-verde-agua.text-center Depois
                        //.col-xs-12.col-sm-6.esteticista
                                h3.text-verde-agua.margin-zero Maria José
                                p.text-inverse.funcao Habilitada Ofiial
                                p.text-inverse.margin-zero Conheça
                                .esteticista-social.pd-20-top
                                    a(href="https://www.instagram.com/estetica.misteriosdocorpo/" target="_blank", rel="noopener")
                                        img(src="img/icon-insta.png" + version, alt="Instagram")

                .col-sm-12.item-esteticista
                    .esteticista-container
                        .col-xs-12.col-sm-10.pd-20-top
                            .row
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img4-antes.png" + version, alt="Antes do Striort")
                                    h4.text-verde-agua.text-center Antes
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img4-depois.png" + version, alt="Depois do Striort")
                                    h4.text-verde-agua.text-center Depois
                        //.col-xs-12.col-sm-6.esteticista
                                h3.text-verde-agua.margin-zero Lilia Coutinho
                                p.text-inverse.funcao Habilitada Oficial
                                p.text-inverse.margin-zero Conheça
                                .esteticista-social.pd-20-top
                                    a(href="https://www.instagram.com/dra.liliacoutinho_bioesteta/" target="_blank", rel="noopener")
                                        img(src="img/icon-insta.png" + version, alt="Instagram da Amanda")
                                    //a(href="https://www.facebook.com/clinicadermoloung" target="_blank", rel="noopener")
                                        img(src="img/icon-face.png", alt="Facebook da Amanda")
                
                .col-sm-12.item-esteticista
                    .esteticista-container
                        .col-xs-12.col-sm-10.pd-20-top
                            .row
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img5-antes.png" + version, alt="Antes do Striort")
                                    h4.text-verde-agua.text-center Antes
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img5-depois.png" + version, alt="Depois do Striort")
                                    h4.text-verde-agua.text-center Depois
                        //.col-xs-12.col-sm-6.esteticista
                                h3.text-verde-agua.margin-zero Hérika Costa
                                p.text-inverse.funcao Habilitada Oficial
                                p.text-inverse.margin-zero Conheça
                                .esteticista-social.pd-20-top
                                    a(href="https://www.instagram.com/herikaestetica/" target="_blank", rel="noopener")
                                        img(src="img/icon-insta.png" + version, alt="Instagram")
                                    //a(href="https://www.facebook.com/clinicadermoloung" target="_blank", rel="noopener")
                                        img(src="img/icon-face.png", alt="Facebook")
                
                .col-sm-12.item-esteticista
                    .esteticista-container
                        .col-xs-12.col-sm-10.pd-20-top
                            .row
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img6-antes.png" + version, alt="Antes do Striort")
                                    h4.text-verde-agua.text-center Antes
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img6-depois.png" + version, alt="Depois do Striort")
                                    h4.text-verde-agua.text-center Depois
                        //.col-xs-12.col-sm-6.esteticista
                                h3.text-verde-agua.margin-zero Gislene Botelho
                                p.text-inverse.funcao Habilitada Oficial
                                p.text-inverse.margin-zero Conheça
                                .esteticista-social.pd-20-top
                                    a(href="https://www.instagram.com/gisleneestetica/" target="_blank", rel="noopener")
                                        img(src="img/icon-insta.png" + version, alt="Instagram")
                                    //a(href="https://www.facebook.com/fisioterapia.ig" target="_blank", rel="noopener")
                                        img(src="img/icon-face.png", alt="Facebook")

                .col-sm-12.item-esteticista
                    .esteticista-container
                        .col-xs-12.col-sm-10.pd-20-top
                            .row
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img7-antes.png" + version, alt="Antes do Striort")
                                    h4.text-verde-agua.text-center Antes
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img7-depois.png" + version, alt="Depois do Striort")
                                    h4.text-verde-agua.text-center Depois
                        //.col-xs-12.col-sm-6.esteticista
                                h3.text-verde-agua.margin-zero Daniele Petrucelli
                                p.text-inverse.funcao Habilitada Oficial 
                                p.text-inverse.margin-zero Conheça
                                .esteticista-social.pd-20-top
                                    a(href="https://www.instagram.com/danielepetrucelliestetica/" target="_blank", rel="noopener")
                                        img(src="img/icon-insta.png" + version, alt="Instagram")
                                    //a(href="https://www.facebook.com/fisioterapia.ig" target="_blank", rel="noopener")
                                        img(src="img/icon-face.png", alt="Facebook")

                .col-sm-12.item-esteticista
                    .esteticista-container
                        .col-xs-12.col-sm-10.pd-20-top
                            .row
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img8-antes.png" + version, alt="Antes do Striort")
                                    h4.text-verde-agua.text-center Antes
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img8-depois.png" + version, alt="Depois do Striort")
                                    h4.text-verde-agua.text-center Depois
                        //.col-xs-12.col-sm-6.esteticista
                                h3.text-verde-agua.margin-zero Carol Andrade
                                p.text-inverse.funcao Esteticista e Cosmetôlogista
                                p.text-inverse.margin-zero Conheça
                                .esteticista-social.pd-20-top
                                    a(href="https://www.instagram.com/esteticacarolandrade/" target="_blank", rel="noopener")
                                        img(src="img/icon-insta.png" + version, alt="Instagram")
                .col-sm-12.item-esteticista
                    .esteticista-container
                        .col-xs-12.col-sm-10.pd-20-top
                            .row
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img9-antes.png" + version, alt="Antes do Striort")
                                    h4.text-verde-agua.text-center Antes
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img9-depois.png" + version, alt="Depois do Striort")
                                    h4.text-verde-agua.text-center Depois
                        //.col-xs-12.col-sm-6.esteticista
                                h3.text-verde-agua.margin-zero Carol Andrade
                                p.text-inverse.funcao Esteticista e Cosmetôlogista
                                p.text-inverse.margin-zero Conheça
                                .esteticista-social.pd-20-top
                                    a(href="https://www.instagram.com/esteticacarolandrade/" target="_blank", rel="noopener")
                                        img(src="img/icon-insta.png" + version, alt="Instagram")
                .col-sm-12.item-esteticista
                    .esteticista-container
                        .col-xs-12.col-sm-10.pd-20-top
                            .row
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img10-antes.png" + version, alt="Antes do Striort")
                                    h4.text-verde-agua.text-center Antes
                                .col-xs-6
                                    img.img-responsive(src="img/esteticista/img10-depois.png" + version, alt="Depois do Striort")
                                    h4.text-verde-agua.text-center Depois
                        //.col-xs-12.col-sm-6.esteticista
                                h3.text-verde-agua.margin-zero Carol Andrade
                                p.text-inverse.funcao Esteticista e Cosmetôlogista
                                p.text-inverse.margin-zero Conheça
                                .esteticista-social.pd-20-top
                                    a(href="https://www.instagram.com/esteticacarolandrade/" target="_blank", rel="noopener")
                                        img(src="img/icon-insta.png" + version, alt="Instagram")
               