.container
    .row.pd-40 
        h2.text-verde-agua.text-center.pd-60-bottom Melhoria de até <strong class="80">80%</strong> das estrias na 1° sessão
        #galeriaEst
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/aline-estria-joelho.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/aline-sem-estria-joelho.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Aline Mafia Moreira
                            p.text-inverse.funcao Técnica em Estética
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/espacodeesteticaaline/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/alinemafiaa" target="_blanck")
                                    img(src="img/icon-face.png", alt="")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/aline-estria-bumbum.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/aline-sem-estria-bumbum.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Aline Mafia Moreira
                            p.text-inverse.funcao Técnica em Estética
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/espacodeesteticaaline/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/alinemafiaa" target="_blanck")
                                    img(src="img/icon-face.png", alt="")
            
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/aline-estria-bumbum-2.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/aline-sem-estria-bumbum-2.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Aline Mafia Moreira
                            p.text-inverse.funcao Técnica em Estética
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/espacodeesteticaaline/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/alinemafiaa" target="_blanck")
                                    img(src="img/icon-face.png", alt="")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/simone-estria-ombro.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/simone-sem-estria-ombro.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Simone Fukushima
                            p.text-inverse.funcao Fisioterapeuta
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/espacovilamada/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/espacovilamada" target="_blanck")
                                    img(src="img/icon-face.png", alt="")
            
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/marcelle-estria-barriga.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/marcelle-sem-estria-barriga.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Marcelle Massari
                            p.text-inverse.funcao Fisioterapeuta
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.facebook.com/fisiocentro.matiasbarbosa" target="_blanck")
                                    img(src="img/icon-face.png", alt="")