.container
    .row.pd-40 
        h2.text-verde-agua.text-center.pd-60-bottom Melhoria de até <strong class="80">80%</strong> das estrias na 1° sessão
        #galeriaEst
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/mariana-bumbum-com-estrias.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/mariana-bumbum-sem-estrias.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Mariana Nôleto
                            p.text-inverse.funcao Esteticista e Cosmetóloga
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/clinica_spazzio/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/clinicaspazzio" target="_blanck")
                                    img(src="img/icon-face.png", alt="")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/michelle-barriga-com-estrias-1.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/michelle-barriga-sem-estrias-1.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Michele Gomes Camargo
                            p.text-inverse.funcao Esteticista Técnica
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/esteticamichelecamargo/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
            
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/daiane-barriga-com-estrias.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/daiane-barriga-sem-estrias.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Daiane de Oliveria
                            p.text-inverse.funcao Esteticista
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/unnikaspa/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/amanda-bumbum-com-estrias-1.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/amanda-bumbum-sem-estrias-1.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Amanda Martins Moreira
                            p.text-inverse.funcao Fisioterapeuta Dermato Funcional
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/clinicadermolounge/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/clinicadermoloung" target="_blanck")
                                    img(src="img/icon-face.png", alt="")
            
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/amanda-bumbum-com-estrias-2.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/amanda-bumbum-sem-estrias-2.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Amanda Martins Moreira
                            p.text-inverse.funcao Fisioterapeuta Dermato Funcional
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/clinicadermolounge/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/clinicadermoloung" target="_blanck")
                                    img(src="img/icon-face.png", alt="")
            
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/amanda-fernandes-bumbum-com-estrias-1.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/amanda-fernandes-bumbum-sem-estrias-1.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Amanda Fernandes Ignacio
                            p.text-inverse.funcao Fisioterapeuta Dermato Funcional
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/amanda.eu/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/fisioterapia.ig" target="_blanck")
                                    img(src="img/icon-face.png", alt="")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/amanda-fernandes-barriga-com-estrias-1.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/amanda-fernandes-barriga-sem-estrias-1.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Amanda Fernandes Ignacio
                            p.text-inverse.funcao Fisioterapeuta Dermato Funcional
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/amanda.eu/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/fisioterapia.ig" target="_blanck")
                                    img(src="img/icon-face.png", alt="")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/camila-barriga-com-estrias-1.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/camila-barriga-sem-estrias-1.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Camila de Aragão Aguiar
                            p.text-inverse.funcao Esteticista e Cosmetôlogista
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/milaaragao4/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/claudia-barriga-com-estrias.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/claudia-barriga-sem-estrias.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Claudia Henn
                            p.text-inverse.funcao Fisioterapeuta
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/claudiahenn/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/claudia.henn.39" target="_blanck")
                                    img(src="img/icon-face.png", alt="")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/andressa-perna-com-estrias.png", alt="")
                                h4.text-verde-agua.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/andressa-perna-sem-estrias.png", alt="")
                                h4.text-verde-agua.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-verde-agua.margin-zero Andressa Moraes
                            p.text-inverse.funcao Fisioterapeuta
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/dra.andressamoraes/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/dremoraes" target="_blanck")
                                    img(src="img/icon-face.png", alt="")