#na-midia.section
    .container
        .row#midia
            .linha-midia
                .col-sm-4.col-md-offset-2
                    .borda-na-midia
                        img.img-responsive(src="img/na-midia-mulher.png", alt="")
                        .espacamento
                            h4.text-verde-texto.bold TV ESTÉTICA
                            p.bold 01/2007
                            p Por ser uma novidade ainda para muita gente, existem várias dúvidas em torno do procedimento. Abaixo você confere o esclarecimento para a 
                                |maioria delas
                            p
                                img(src="img/icone-botao-striort.png", alt="")
                                a.text-verde-agua.bold.botao-saiba-mais(href="#") SAIBA MAIS 
                .col-sm-4
                    .borda-na-midia
                        img.img-responsive(src="img/bumbum-na-midia.png", alt="")
                        .espacamento
                            h4.text-verde-texto.bold TV ESTÉTICA
                            p.bold 01/2007
                            p Por ser uma novidade ainda para muita gente, existem várias dúvidas em torno do procedimento. Abaixo você confere o esclarecimento para a 
                                |maioria delas
                            p
                                img(src="img/icone-botao-striort.png", alt="")
                                a.text-verde-agua.bold.botao-saiba-mais(href="#") SAIBA MAIS
            .linha-midia
                .col-sm-4.col-md-offset-2
                    .borda-na-midia
                        img.img-responsive(src="img/na-midia-mulher.png", alt="")
                        .espacamento
                            h4.text-verde-texto.bold TV ESTÉTICA
                            p.bold 01/2007
                            p Por ser uma novidade ainda para muita gente, existem várias dúvidas em torno do procedimento. Abaixo você confere o esclarecimento para a 
                                |maioria delas
                            p
                                img(src="img/icone-botao-striort.png", alt="")
                                a.text-verde-agua.bold.botao-saiba-mais(href="#") SAIBA MAIS 
                .col-sm-4
                    .borda-na-midia
                        img.img-responsive(src="img/bumbum-na-midia.png", alt="")
                        .espacamento
                            h4.text-verde-texto.bold TV ESTÉTICA
                            p.bold 01/2007
                            p Por ser uma novidade ainda para muita gente, existem várias dúvidas em torno do procedimento. Abaixo você confere o esclarecimento para a 
                                |maioria delas
                            p
                                img(src="img/icone-botao-striort.png", alt="")
                                a.text-verde-agua.bold.botao-saiba-mais(href="#") SAIBA MAIS  
