.container
    .row
        .col-xs-12
            h2.text-uppercase.text-verde-agua.text-center.pd-40-bottom  Conheça outros cursos
    .row    
        .cursos-flex
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/lg.png" + version, alt="")
                p.text-verde  Resultados que Impressionam
                p 
                    a.text-verde-agua.bold(href="https://lipoesculturagessada.com.br/" target="_blank") Saiba Mais
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/ortofit-logo.png" + version, alt="")
                p.text-verde FIT no tempo, FIT no preço, Gigante nos resultados 
                p 
                    a.text-verde-agua.bold Em breve                
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/logo-firmez.png" + version, alt="")
                p.text-verde Fim da Flacidez
                p <br>
                p 
                    a.text-verde-agua.bold(href="http://firmez.com.br/" target="_blank") Saiba Mais               