.container
    .row
        .col-xs-12
            h2.text-uppercase.text-verde-agua.text-center.pd-40-bottom  Conheça outros cursos
    .row    
        .cursos-flex
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/lg.png", alt="")
                p LIPOESCULTURA GESSADA EXCLUSIVE | Resultados que Impressionam
                p Agenda Nacional 
                    a.text-verde-agua(href="https://lipoesculturagessada.com.br/curso") Saiba Mais
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/ortoshock.png", alt="")
                p ORTOSHOCK | Master em Ondas de Choque
                p Agenda Nacional 
                    a.text-verde-agua(href="https://www.facebook.com/ORTOSHOCK/") Saiba Mais                
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/ortobariatric.png", alt="")
                p ORTOBARIATRIC | Estética e Emagrecimento Pós-Bariátrico
                p Agenda Nacional 
                    a.text-verde-agua(href="https://www.facebook.com/ORTOBARIATRIC/") Saiba Mais               
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/PEO.png", alt="")
                p PRÁTICA ESTÉTICA ORTOMOLECULAR | A ¹Medicina Ortomolecular Adaptada à Estética
                p Agenda Nacional 
                    a.text-verde-agua(href="https://www.facebook.com/PRATICAESTETICAORTOMOLECULAR/") Saiba Mais