.container
    .row
        .col-xs-12
            h2.text-uppercase.text-verde-agua.text-center.pd-40-bottom  Conheça outros cursos
    .row    
        .cursos-flex
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/lg.png" + version, alt="")
                p.text-verde Metodologia nº 1 no MUNDO contra a Celulite e  Gordura Localizada
                p 
                    a.text-verde-agua.bold(href="https://lipoesculturagessada.com.br/") Saiba Mais
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/ortoshock.png" + version, alt="")
                p.text-verde Eletroterapia Ortomolecular | Celulite Fibrotica Nunca Mais
                p 
                    a.text-verde-agua.bold(href="https://ortoshock.com.br/") Saiba Mais                
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/ortobariatric.png" + version, alt="")
                p.text-verde Estética Pós-Bariátrica
                p 
                    a.text-verde-agua.bold(href="https://www.facebook.com/ORTOBARIATRIC/") Saiba Mais               
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/PEO.png" + version, alt="")
                p.text-verde  A Medicina Ortomolecular Adaptada à Estética
                p 
                    a.text-verde-agua.bold(href="https://www.facebook.com/PRATICAESTETICAORTOMOLECULAR/") Saiba Mais