//.container.section
    h2.text-verde-texto.text-center Conheça as cuidadoras do curso
    .row#cuidadoras
        .item-ministrante
            .col-sm-6
                .row.align-center
                    .col-sm-6
                        img.img-responsive(src="img/prof-claudia-bordoux.png", alt="")
                    .col-sm-6
                        h3.text-verde-agua Cláudia Bordoux
                        p Autorizada Striort
                .row.text-center
                    .container-curriculo
                        button.text-verde-agua Currículo
                        .container-filho(style="display:none;")
                            .col-sm-6
                                ul.curriculo
                                    li Licenciada STRIORT
                                    li Graduada em Fisioterapia pela Universidade Federal de Pernambuco desde 2000
                                    li Especialista em Fisioterapia Dermato Funcional.
                                    li Formação em Drenagem Linfática Manual método Leduc – Argentina 2008
                                    li Formação em Estética Corporal e Facial - Argentina - 2009
                                    li Formação em eletrofisioterapia – Meditea - Argentina 2010
                            .col-sm-6
                                ul.curriculo
                                    li Formação em Criolipólise – Argentina 2014/ Recife 2015
                                    li Palestrante em Congressos Nacionais e Internacionais.
                                    li Proprietária da Clinica Espaço Claudia Boudoux
                                    li Formação em Técnicas de Manipulação pós Cirurgia Plástica – São Paulo 2012
                                    li Formação em Drenagem Linfática Manual Método Godoy – Recife 2011
                                    li Formação em Depilação a Laser – Argentina 2005/ Recife 2011
            .col-sm-6
                .row.align-center
                    .col-sm-6
                        img.img-responsive(src="img/prof-mariana-noleto.png", alt="")
                    .col-sm-6
                        h3.text-verde-agua Mariana Neres Nolêto
                        p Autorizada Striort
                .row.text-center
                    .container-curriculo
                        button.text-verde-agua Currículo
                        .container-filho(style="display:none;")
                            .col-sm-6
                                ul.curriculo
                                    li Licenciada STRIORT
                                    li Graduada em Estética e Cosmética Universidade Uniderp Anhanguera - Campo Grande, desde 2013.
                                    li Graduada em Assistente Social Universidade Católica Dom Bosco, conclusão 2010.
                                    li Formação em Drenagem Linfática Manual método Leduc – Argentina 2008
                                    li Tratamento ortomolecular para gordura localizada, celulite e flacidez- Bothanica Mineral.
                                    li Habilitada no tratamento Magical Process- tratamento de melasma - Prof Daniela Almeida 
                            .col-sm-6
                                ul.curriculo
                                    li ortomolecular para gordura localizada, celulite e flacidez- Bothanica Mineral. Microagulhamento e monodose Prof Carol 
                                        |Franttini e Thabata Athayde. Tratamento facial avançado- Prof Francini Livramento
                                    li Criolipólise Avançada- treinamento oficial Cooltech
                                    li Pré e Pós Operatório de cirurgia plástica - Adcos Prof Gabriela Tuller.
                                    li Microagulhamento e monodose - Prof Carol Franttini e Thabata Athayde. Tratamento facial avançado - Prof Francini Livramento        
        .item-ministrante
            .col-sm-6
                .row.align-center
                    .col-sm-6
                        img.img-responsive(src="img/prof-patricia-silveira.png", alt="")
                    .col-sm-6
                        h3.text-verde-agua Patrícia Silveira
                        p Autorizada Striort
                .row.text-center
                    .container-curriculo
                        button.text-verde-agua Currículo
                        .container-filho(style="display:none;")
                            .col-sm-6
                                ul.curriculo
                                    li Esteticista formada no Centro Holístico Idhera - RS desde 2009
                                    li Autorizada desde 2016 na técnica STRIORT
                                    li Qualificação em Estética Íntima desde 2016 pelo ISEPE pós-graduação - RS
                                    li Autorizada desde 2016 com a técnica Lipoescultura Gessada pela Bothanica Mineral
                                    li Autorizada no Curso Método de Emagrecimento 5S desde 2016 Curitiba - PR
                            .col-sm-6
                                ul.curriculo
                                    li Formação e capacitação profissional em Estética Facial e Corporal desde 2011 pela Escola Bel’art - RS
                                    li Autorizada com técnica Magic Touch Detox pela Flávia Medeiros desde 2016
                                    li Curso Prática Estética Ortomolecular desde 2016 em Florianópolis - SC
            .col-sm-6
                .row.align-center
                    .col-sm-6
                        img.img-responsive(src="img/prof-luciana-leao.png", alt="")
                    .col-sm-6
                        h3.text-verde-agua Luciana Leão
                        p Autorizada Striort
                .row.text-center
                    .container-curriculo
                        button.text-verde-agua Currículo
                        .container-filho(style="display:none;")
                            .col-sm-6
                                ul.curriculo
                                    li Licenciada STRIORT
                                    li Cursando MBA em Empreendorismo e Gestão Empresarial na ImesMercosul
                                    li Graduada em Fisioterapiana Universidade Gama Filho (UNIVALE) desde 2009
                                    li Pós-graduada em Dermatofuncional naUniversidade Gama Filho desde 2012
                                    li Fisioterapeuta na prefeitura da cidade de Engenheiro Caldas- MG
                            .col-sm-6
                                ul.curriculo
                                    li Fisioterapeuta ortopédica- neurológica na clínica Fisiocenter, Governador Valadares - MG em 2010
                                    li Ministrante de cursos livres em Tratamentos Estéticos Faciais e Corporais desde 2014
                                    li Consultora em gestão administrativa para clínicas desde 2016
                                    li Participação no Encontro Internacional de Fisioterapia Dermatofuncional- BH em 2012, 2014 e 2015NÚMERO
        .item-ministrante
            .col-sm-6
                .row.align-center
                    .col-sm-6
                        img.img-responsive(src="img/prof-rosana-borges.png", alt="")
                    .col-sm-6
                        h3.text-verde-agua Rosana Borges
                        p Autorizada Striort
                .row.text-center
                    .container-curriculo
                        button.text-verde-agua Currículo
                        .container-filho(style="display:none;")
                            .col-sm-6
                                ul.curriculo
                                    li Autorizada desde 2016 com a técnica STRIORT pela Bothanica Mineral
                                    li Graduanda em MBA Estética e Negócios na Faculdade Cambury - GO
                                    li Pós-graduada em Docência Universitária na Faculdade Cambury - GO desde 2015
                                    li Graduada em Estética e Cosmética na Faculdade Cambury - GO desde 2012
                                    li Atuante no mercado da estética desde 2012
                            .col-sm-6
                                ul.curriculo
                                    li Professora no Curso de Estética e Cosmética na Faculdade Cambury - GO desde 2014
                                    li Avaliadora em bancas de trabalhos acadêmicos na área da Estética e Cosmética pela Faculdade Cambury - GO
                                    li Professora no Instituto de Ensino Corpo Bueno na área de estética corporal, facial e podologia
                                    li Ministrante de Workshop pela empresa VITA DERM - GO
            .col-sm-6
                .row.align-center
                    .col-sm-6
                        img.img-responsive(src="img/prof-samilla-avelar.png", alt="")
                    .col-sm-6
                        h3.text-verde-agua Samilla Avelar de Castro
                        p Autorizada Striort
                .row.text-center
                    .container-curriculo
                        button.text-verde-agua Currículo
                        .container-filho(style="display:none;")
                            .col-sm-6
                                ul.curriculo
                                    li Licenciada STRIORT
                                    li Cursando MBA em Empreendorismo e Gestão Empresarial na ImesMercosul
                                    li Graduada em Fisioterapia na Universidade Gama Filho (UNIVALE) desde 2009
                                    li Pós-graduada em Dermatofuncional na Universidade Gama Filho desde 2012
                                    li Fisioterapeuta na prefeitura da cidade de Engenheiro Caldas- MG
                            .col-sm-6
                                ul.curriculo
                                    li Fisioterapeuta ortopédica- neurológica na clínica Fisiocenter, Governador Valadares - MG em 2010
                                    li Ministrante de cursos livres em Tratamentos Estéticos Faciais e Corporais desde 2014
                                    li Consultora em gestão administrativa para clínicas desde 2016
                                    li Participação no Encontro Internacional de Fisioterapia Dermatofuncional- BH em 2012, 2014 e 2015