.container.section
    .row(style="margin:0")
        .col-xs-12
            h3.text-uppercase.text-verde-agua.text-center  conteúdo programático
    .curso-flex(style="padding: 0 15px")
        .striort-conheca.bg-verde-agua                    
            .bg-verde.striort-title
                h4.text-inverse A PELE
            .text-inverse.striort-desc
                ul.list-bm-escuro
                    li Epiderme - camada basal, espinhosa, granulosa, lúcida e córnea
                    li Derme
                    li Tecido celular subcutâneo (hipoderme)
                    li Gândulas sudoríparas
                    li Irrigação sanguínea da derme
                    li Sistema linfático da derme


        .striort-conheca.bg-verde-agua                   
            .bg-verde.striort-title
                h4.text-inverse ESTRIAS
            .text-inverse.striort-desc
                ul.list-bm-escuro
                    li Evolução das estrias
                    li Definição, etiopatogenia, histopatologia, apresentação, fatores desencadeantes, incidência e classificação 
                    li Prevenção
                    li Processo fisiológico da técnica


        .striort-conheca.bg-verde-agua                   
            .bg-verde.striort-title
                h4.text-inverse MÉTODO STRIORT®
            .text-inverse.striort-desc
                ul.list-bm-escuro
                    li Passo a passo em cabine e protocolo domiciliar
                    li Produtos e equipamento utilizados 
                    li Tempo e número de sessões
                    li A mágica

        .pd-40(style="width:100%; padding-bottom: 0")
            h3.text-uppercase.text-verde-agua.text-left  QUEM PODE FAZER O CURSO
            p.text-verde.bolder  Formação completa ou no último semestre:
            ul.list-bm.text-verde
                each i in ['Esteticista Tecnóloga;', 'Esteticista Técnica;', 'Fisioterapeuta Dermatofuncional;', 'Biomédico(a);' ,'Enfermeiro(a) Esteta;', 'Nutricionista (Pós em Estética);', 'Farmacêutico Esteta (que possua contrato social de empresa prestadora de serviços de estética constituída em seu nome).']
                    li #{i}