.container.section
    .row(style="margin:0")
        .col-xs-12
            h3.text-uppercase.text-verde-agua.text-center  conteúdo programático
    .curso-flex(style="padding: 0 15px")
        .striort-conheca.bg-verde-agua                    
            .bg-verde.striort-title
                h4.text-inverse A PELE
            .text-inverse.striort-desc
                ul.list-bm-escuro
                    li Epiderme - camada basal, espinhosa, granulosa, lúcida e córnea
                    li Derme
                    li Tecido celular subcutâneop (hipoderme)
                    li Gândulas sudoríparas
                    li Irrigação sanguínea da derme
                    li Sistema linfático da derme


        .striort-conheca.bg-verde-agua                   
            .bg-verde.striort-title
                h4.text-inverse O QUE VOU APRENDER NO CURSO?
            .text-inverse.striort-desc
                p No curso você aprenderá a tratar com excelência 
                    | todos os tipos de Estrias Brancas e Vermelhas. Venha
                    | fazer parte desta seleta gama de profissionais, temos
                    | certeza que será um grande sucesso na sua clínica e
                    | principalmente na vida de todos os seus pacientes.


        .striort-conheca.bg-verde-agua                   
            .bg-verde.striort-title
                h4.text-inverse DESCRIÇÃO
            .text-inverse.striort-desc
                p Imersão avançada na Técnica STRIORT®. O curso
                    | ministrado pela Dra Ana Carolina Almeida aborda de  forma teórico-demonstrativo-prático todo o
                    | procedimento, aplicando-o em sala de aula.

        .pd-40(style="width:100%; padding-bottom: 0")
            h4.text-verde.bolder Profissionais e acadêmicos de saúde que contenham especialização em estética nas seguintes áreas:
                ul.list-bm.text-verde
                    each i in ['Biomédicos', 'Fisioterapeutas', 'Enfermeiros', 'Esteticistas (com formação superior/técnica/tecnóloga a partir do 6º período)' ,'Farmacêutico(a) Esteta.']
                        li #{i}