.container.section
    .row
        //.col-xs-12
            h3.text-uppercase.text-verde-texto.text-center  conteúdo programático
    .curso-flex(style="padding: 0 15px")
        .striort-conheca.bg-verde-texto                    
            .bg-verde.striort-title
                h4.text-inverse A PELE
            .text-inverse.striort-desc
                p É uma Técnica Ortomolecular de combate as estrias.
                    | É uma inovaçãoabsoluta, com resultados incríveis e
                    | nunca antes visto, pois promete melhorar a
                    | aparência das Estrias Brancas em até 80% já na
                    |  primeira sessão. É um método diferente, não
                    |  invasivo e não-cirúrgico.


        .striort-conheca.bg-verde-texto                   
            .bg-verde.striort-title
                h4.text-inverse O QUE VOU APRENDER NO CURSO?
            .text-inverse.striort-desc
                p No curso você aprenderá a tratar com excelência 
                    | todos os tipos de Estrias Brancas e Vermelhas. Venha
                    | fazer parte desta seleta gama de profissionais, temos
                    | certeza que será um grande sucesso na sua clínica e
                    | principalmente na vida de todos os seus pacientes.


        .striort-conheca.bg-verde-texto                   
            .bg-verde.striort-title
                h4.text-inverse DESCRIÇÃO
            .text-inverse.striort-desc
                p Imersão avançada na Técnica STRIORT®. O curso
                    | ministrado pela Dra Ana Carolina Almeida aborda de  forma teórico-demonstrativo-prático todo o
                    | procedimento, aplicando-o em sala de aula.

.container.section
    .row
        .col-sm-12
            p Profissionais e acadêmicos de saúde que contenham especialização em estética nas seguintes áreas:
                ul
                    each i in ['Biomédicos', 'Fisioterapeutas', 'Enfermeiros', 'Esteticistas (com formação superior/técnica/tecnóloga a partir do 6º período)' ,'Farmacêutico(a) Esteta.']
                        li #{i}