.container#teaser
    .col-sm-8.col-sm-offset-2.pd-80-bottom
        h2.text-center.text-uppercase.text-verde-agua Amostra Grátis
        p.text-center.pd-40-bottom veja porque sou o maior método de estética do MUNDO
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/q4ubyvaocA4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)