.container.relative.pd-80-bottom.pd-60-top
    .row.encontre
        .col-sm-5
            h2.text-verde-texto.text-center.text-uppercase.pd-80-top.encontre-title  VOCÊ QUER FAZER O TRATAMENTO STRIORT?
            h4.text-center.pd-20-top ENCONTRE AQUI UMA PROFISSIONAL QUE ATENDA EM SUA REGIÃO
        .col-sm-6.col-sm-offset-1.pd-40-top.text-center
            label.center-block.pd-40-top Clique na região
            include ./_mapa.pug
.lisa(style="min-width: 70px;bottom: -3px")
    img.img-responsive( src="img/zebra-blinking.gif" alt="Mascote Lisa")





