extends ./_layouts/striort.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content

    section#banners.relative
        .container-fluid#banner-container
            .row
                #banner   
                    // Banners rotativos                
                    .c-banner.background-topo2
                        .item-c.centralizar.texto-banner-gravida
                            .col-xs-12.col-sm-5.col-md-7
                                .texto-banner
                                    img(src="img/borboleta.png", alt="Icone Striort", class="center-block")
                                    h2.text-verde-agua.text-uppercase.text-center  Cuide das estrias dela, <br>
                                        span.linha-meio|e ela cuida do que é <br/>
                                        | realmente importante    
                    .c-banner.background-topo
                        .centralizar
                            h1.text-verde-agua Especialitas em 
                                span.text-verde-texto estrias
                            .centralizar-interno.col-xs-12
                                h1.h1-banner.text-verde-agua Antes
                                img.icone-striort(src="img/Logo-striort.png", alt="Logo Striort")
                                h1.h1-banner.text-verde-agua Depois      

    // esteticiscas carrocel
    section.bg-verde.section#resultados
        include ./_partials/_index/_esteticistas.pug

    // conheça mais sobre o tratamento
    section#curso.section
        include ./_partials/_index/_curso.pug

        // conteudo programatico
        include ./_partials/_index/_programa.pug
                        

    // inscrição
    section#inscricao.section
        include ./_partials/_index/_inscricao.pug


    // inscrição
    section#prof.section
        include ./_partials/_index/_prof.pug
        

    .section#agenda.bg-verde-texto
        .container
            .row
                .col-sm-12
                    h2.text-inverse.text-center.pd-60-bottom.text-uppercase CLIQUE E CONFIRA NOSSA AGENDA Striort®
                    a(href="/")
                        img.img-responsive.center-block(src="img/agenda.png", alt="Agenda Striort")

    // Midia
    section#na-midia.section
        include ./_partials/_index/_midia.pug


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


