extends ./_layouts/striort.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content

    section#banners.relative
        .container-fluid#banner-container
            .row
                #banner   
                    // Banners rotativos                
                    .c-banner.background-topo2
                        .item-c.centralizar.texto-banner-gravida
                            .col-xs-12.col-sm-5.col-md-7
                                .texto-banner
                                    img(src="img/borboleta.png", alt="Icone Striort", class="center-block")
                                    h2.text-verde-agua.text-uppercase.text-center  Cuide das estrias dela, <br>
                                        span.linha-meio|e ela cuida do que é <br/>
                                        | realmente importante    
                    .c-banner.background-topo
                        .centralizar
                            .centralizar-interno.col-xs-12
                                h1.h1-banner.text-verde-agua Antes
                                img.icone-striort(src="img/Logo-striort.png", alt="Logo Striort")
                                h1.h1-banner.text-verde-agua Depois      


    section.bg-verde.section
        .container
            .row.pd-40 
                h2.text-verde-agua.text-center.pd-60-bottom Melhoria de até <strong class="80">80%</strong> das estrias na 1° sessão
                #galeriaEst
                    .col-sm-12.item-esteticista
                        .esteticista-container
                            .col-xs-12.col-sm-6.pd-20-top
                                .row
                                    .col-xs-6
                                        img.img-responsive(src="img/aline-estria-joelho.png", alt="")
                                        h4.text-verde-agua.text-center Antes
                                    .col-xs-6
                                        img.img-responsive(src="img/aline-sem-estria-joelho.png", alt="")
                                        h4.text-verde-agua.text-center Depois
                            .col-xs-12.col-sm-6.esteticista
                                    h3.text-verde-agua.margin-zero Aline Mafia Moreira
                                    p.text-inverse.funcao Técnica em Estética
                                    p.text-inverse.margin-zero Conheça
                                    .esteticista-social.pd-20-top
                                        a(href="https://www.instagram.com/espacodeesteticaaline/" target="_blanck")
                                            img(src="img/icon-insta.png", alt="")
                                        a(href="https://www.facebook.com/alinemafiaa" target="_blanck")
                                            img(src="img/icon-face.png", alt="")

                    .col-sm-12.item-esteticista
                        .esteticista-container
                            .col-xs-12.col-sm-6.pd-20-top
                                .row
                                    .col-xs-6
                                        img.img-responsive(src="img/aline-estria-bumbum.png", alt="")
                                        h4.text-verde-agua.text-center Antes
                                    .col-xs-6
                                        img.img-responsive(src="img/aline-sem-estria-bumbum.png", alt="")
                                        h4.text-verde-agua.text-center Depois
                            .col-xs-12.col-sm-6.esteticista
                                    h3.text-verde-agua.margin-zero Aline Mafia Moreira
                                    p.text-inverse.funcao Técnica em Estética
                                    p.text-inverse.margin-zero Conheça
                                    .esteticista-social.pd-20-top
                                        a(href="https://www.instagram.com/espacodeesteticaaline/" target="_blanck")
                                            img(src="img/icon-insta.png", alt="")
                                        a(href="https://www.facebook.com/alinemafiaa" target="_blanck")
                                            img(src="img/icon-face.png", alt="")
                    
                    .col-sm-12.item-esteticista
                        .esteticista-container
                            .col-xs-12.col-sm-6.pd-20-top
                                .row
                                    .col-xs-6
                                        img.img-responsive(src="img/aline-estria-bumbum-2.png", alt="")
                                        h4.text-verde-agua.text-center Antes
                                    .col-xs-6
                                        img.img-responsive(src="img/aline-sem-estria-bumbum-2.png", alt="")
                                        h4.text-verde-agua.text-center Depois
                            .col-xs-12.col-sm-6.esteticista
                                    h3.text-verde-agua.margin-zero Aline Mafia Moreira
                                    p.text-inverse.funcao Técnica em Estética
                                    p.text-inverse.margin-zero Conheça
                                    .esteticista-social.pd-20-top
                                        a(href="https://www.instagram.com/espacodeesteticaaline/" target="_blanck")
                                            img(src="img/icon-insta.png", alt="")
                                        a(href="https://www.facebook.com/alinemafiaa" target="_blanck")
                                            img(src="img/icon-face.png", alt="")

                    .col-sm-12.item-esteticista
                        .esteticista-container
                            .col-xs-12.col-sm-6.pd-20-top
                                .row
                                    .col-xs-6
                                        img.img-responsive(src="img/simone-estria-ombro.png", alt="")
                                        h4.text-verde-agua.text-center Antes
                                    .col-xs-6
                                        img.img-responsive(src="img/simone-sem-estria-ombro.png", alt="")
                                        h4.text-verde-agua.text-center Depois
                            .col-xs-12.col-sm-6.esteticista
                                    h3.text-verde-agua.margin-zero Simone Fukushima
                                    p.text-inverse.funcao Fisioterapeuta
                                    p.text-inverse.margin-zero Conheça
                                    .esteticista-social.pd-20-top
                                        a(href="https://www.instagram.com/espacovilamada/" target="_blanck")
                                            img(src="img/icon-insta.png", alt="")
                                        a(href="https://www.facebook.com/espacovilamada" target="_blanck")
                                            img(src="img/icon-face.png", alt="")
                   
                    .col-sm-12.item-esteticista
                        .esteticista-container
                            .col-xs-12.col-sm-6.pd-20-top
                                .row
                                    .col-xs-6
                                        img.img-responsive(src="img/marcelle-estria-barriga.png", alt="")
                                        h4.text-verde-agua.text-center Antes
                                    .col-xs-6
                                        img.img-responsive(src="img/marcelle-sem-estria-barriga.png", alt="")
                                        h4.text-verde-agua.text-center Depois
                            .col-xs-12.col-sm-6.esteticista
                                    h3.text-verde-agua.margin-zero Marcelle Massari
                                    p.text-inverse.funcao Fisioterapeuta
                                    p.text-inverse.margin-zero Conheça
                                    .esteticista-social.pd-20-top
                                        a(href="https://www.facebook.com/fisiocentro.matiasbarbosa" target="_blanck")
                                            img(src="img/icon-face.png", alt="")
    // conheça mais sobre o tratamento
    section#curso.section
        .container
            .row
                .col-xs-12
                    h3.text-uppercase.text-verde-texto.text-center  conheça mais sobre o tratamento
            .curso-flex
               .striort-conheca.bg-verde                    
                    .bg-verde-texto.striort-title
                        h4.text-inverse O QUE É STRIORT® ?
                    .text-inverse.striort-desc
                        p É uma Técnica Ortomolecular de combate as estrias.
                            | É uma inovaçãoabsoluta, com resultados incríveis e
                            | nunca antes visto, pois promete melhorar a
                            | aparência das Estrias Brancas em até 80% já na
                            |  primeira sessão. É um método diferente, não
                            |  invasivo e não-cirúrgico.
               .striort-conheca.bg-verde                    
                    .bg-verde-texto.striort-title
                        h4.text-inverse O QUE VOU APRENDER NO CURSO?
                    .text-inverse.striort-desc
                        p No curso você aprenderá a tratar com excelência 
                            | todos os tipos de Estrias Brancas e Vermelhas. Venha
                            | fazer parte desta seleta gama de profissionais, temos
                            | certeza que será um grande sucesso na sua clínica e
                            | principalmente na vida de todos os seus pacientes.
               .striort-conheca.bg-verde                   
                    .bg-verde-texto.striort-title
                        h4.text-inverse DESCRIÇÃO
                    .text-inverse.striort-desc
                        p Imersão avançada na Técnica STRIORT®. O curso
                        | ministrado pela Dra Ana Carolina Almeida aborda de  forma teórico-demonstrativo-prático todo o
                        | procedimento, aplicando-o em sala de aula.

        // conteudo programatico
        .container.section
            .row
                .col-xs-12
                    h3.text-uppercase.text-verde-texto.text-center  conteúdo programático
            .curso-flex
               .striort-conheca.bg-verde-texto                    
                    .bg-verde.striort-title
                        h4.text-inverse A PELE
                    .text-inverse.striort-desc
                        p É uma Técnica Ortomolecular de combate as estrias.
                            | É uma inovaçãoabsoluta, com resultados incríveis e
                            | nunca antes visto, pois promete melhorar a
                            | aparência das Estrias Brancas em até 80% já na
                            |  primeira sessão. É um método diferente, não
                            |  invasivo e não-cirúrgico.


               .striort-conheca.bg-verde-texto                   
                    .bg-verde.striort-title
                        h4.text-inverse O QUE VOU APRENDER NO CURSO?
                    .text-inverse.striort-desc
                        p No curso você aprenderá a tratar com excelência 
                            | todos os tipos de Estrias Brancas e Vermelhas. Venha
                            | fazer parte desta seleta gama de profissionais, temos
                            | certeza que será um grande sucesso na sua clínica e
                            | principalmente na vida de todos os seus pacientes.


               .striort-conheca.bg-verde-texto                   
                    .bg-verde.striort-title
                        h4.text-inverse DESCRIÇÃO
                    .text-inverse.striort-desc
                        p Imersão avançada na Técnica STRIORT®. O curso
                        | ministrado pela Dra Ana Carolina Almeida aborda de  forma teórico-demonstrativo-prático todo o
                        | procedimento, aplicando-o em sala de aula.
        .container.section
            .row.pd-80-top
                .col-sm-12
                    p Profissionais e acadêmicos de saúde que contenham especialização em estética nas seguintes áreas:
                        ul
                            each i in ['Biomédicos', 'Fisioterapeutas', 'Enfermeiros', 'Esteticistas (com formação superior/técnica/tecnóloga a partir do 6º período)' ,'Farmacêutico(a) Esteta.']
                                li #{i}
                        


    section#inscricao.section
        .container
            .row
                .col-xs-12
                    h3.text-uppercase.text-verde-texto.text-center  DETALHES DO CURSO E INSCRIÇÃO
                    p.text-center Todos os produtos são devidamente registrados na ANVISA, com testes clínicos e dermatológicos.
            .curso-flex
               .striort-conheca.bg-verde                    
                    .bg-verde-texto.striort-title
                        h4.text-inverse DETALHES DO CURSO E INSCRIÇÃO
                    .text-inverse.striort-desc
                        p É uma Técnica Ortomolecular de combate as estrias.
                            | É uma inovaçãoabsoluta, com resultados incríveis e
                            | nunca antes visto, pois promete melhorar a
                            | aparência das Estrias Brancas em até 80% já na
                            |  primeira sessão. É um método diferente, não
                            |  invasivo e não-cirúrgico.
               .striort-conheca.bg-verde                    
                    .bg-verde-texto.striort-title
                        h4.text-inverse O QUE VOU APRENDER NO CURSO?
                    .text-inverse.striort-desc
                        p No curso você aprenderá a tratar com excelência 
                            | todos os tipos de Estrias Brancas e Vermelhas. Venha
                            | fazer parte desta seleta gama de profissionais, temos
                            | certeza que será um grande sucesso na sua clínica e
                            | principalmente na vida de todos os seus pacientes.
               .striort-conheca.bg-verde                   
                    .bg-verde-texto.striort-title
                        h4.text-inverse DESCRIÇÃO
                    .text-inverse.striort-desc
                        p Imersão avançada na Técnica STRIORT®. O curso
                        | ministrado pela Dra Ana Carolina Almeida aborda de  forma teórico-demonstrativo-prático todo o
                        | procedimento, aplicando-o em sala de aula.
            .curso-flex
                .striort-conheca.bg-verde.oneLine                   
                        .bg-verde-texto.striort-title
                            h4.text-inverse DETALHES DO CURSO E INSCRIÇÃO
                        .text-inverse.striort-desc
                            p É uma Técnica Ortomolecular de combate as estrias.
                                | É uma inovaçãoabsoluta, com resultados incríveis e
                                | nunca antes visto, pois promete melhorar a
                                | aparência das Estrias Brancas em até 80% já na
                                |  primeira sessão. É um método diferente, não
                                |  invasivo e não-cirúrgico.

    .section#agenda.bg-verde-texto
        .container
            .row
                .col-sm-12
                    h2.text-inverse.text-center.pd-60-bottom.text-uppercase CLIQUE E CONFIRA NOSSA AGENDA Striort®
                    a(href="/")
                        img.img-responsive.center-block(src="img/agenda.png", alt="Agenda Striort")


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


