block settings
    - var title = 'STRIORT®'
doctype
html(lang="pt")
    head
        include ../_partials/meta-tags
        include ../_partials/icons
        title #{title}
        block CSS
            link(rel="stylesheet", href="css/plugins.css")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.css")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick-theme.min.css")
            

    body

        include ../_partials/_index/face.pug
        #agemdaPop
            .blackPop
                .popUp.clearfix
                    img.img-responsive.block-center(src="img/agenda-placa.png", alt="")  
                    .flex-popUp  
                        .popUpItem
                            .agenda-item
                                p.data 06/05/2018
                                p.cidade Salvador/BA
                                //p.abrirIncs
                                    a Inscrição
                                //.con-inscricao
                                    p.tel 55 91 98292-0815
                                    p.email cleiaadvice@yahoo.com.br
                        .popUpItem
                            .agenda-item
                                p.data 12/05/2018
                                p.cidade Sinop/MT
                                //p.abrirIncs
                                    a Inscrição
                                //.con-inscricao
                                    p.tel 55 32 99138-7515
                                    p.email unisbarbacena@hotmail.com
                        .popUpItem
                            .agenda-item
                                p.data 14/05/2018
                                p.cidade Cascavel/PR
                                //p.abrirIncs
                                    a Inscrição
                                //.con-inscricao
                                    p.tel 55 48 99919-4664
                                    p.email pulsarmed@gmail.com
                        .popUpItem
                            .agenda-item
                                p.data 20/05/2018
                                p.cidade São Luis/MA
                                //p.abrirIncs
                                    a Inscrição
                                //.con-inscricao
                                    p.tel 55 67 99887-6062
                                    p.email noletomari@outlook.com

                        .popUpItem
                            .agenda-item
                                p.data 20/05/2018
                                p.cidade Campinas/SP
                                //p.abrirIncs
                                    a Inscrição
                                    .con-inscricao
                                        p.tel 55 11 98454-4172
                                        p.email drakarineaccolti.biomedica@gmail.com
                        .popUpItem
                            .agenda-item
                                p.data 28/05/2018
                                p.cidade Brasília/DF
                        .popUpItem
                            .agenda-item
                                p.data 28/05/2018
                                p.cidade Rio de Janeiro/RJ
                        .popUpItem
                            .agenda-item
                                p.data 30/05/2018
                                p.cidade Campo Grande/MS
                        .popUpItem
                            .agenda-item
                                p.data 04/06/2018
                                p.cidade Chapecó/SC
                        .popUpItem
                            .agenda-item
                                p.data 04/06/2018
                                p.cidade  Vitória/SE
                        .popUpItem
                            .agenda-item
                                p.data 10/06/2018
                                p.cidade Uberlândia/MG
                        .popUpItem
                            .agenda-item
                                p.data 24/06/2018
                                p.cidade Goiânia/GO
                        .popUpItem
                            .agenda-item
                                p.data 24/06/2018
                                p.cidade Maringá/PR
                        .popUpItem
                            .agenda-item
                                p.data 01/07/2018
                                p.cidade Cuiabá

                    p.infos INFORMAÇÕES E INSCRIÇÕES
                    p.infos +55 11 4508-8998
                    p.infos cvc1@bothanicamineral.com.br 




                    .fechar-agenda
                        img.img-responsive.block-center(src="img/fechar-agenda.png", alt="")
        #loader
            img.loader-img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/striort/loader.gif", alt="Lodder")
        .ir-topo#ir-topo(style="display:none")
            a#ir-topos(href="#banners", class="goesTo link-topo")
                img(class="seta",src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/striort/seta.png", alt="")
        // menu-nobile
        .menu-mob-flutuante#menu-mob-flutuante.img-back-leort(style="display:none;")
            ul.display-menu-mob
                li 
                    a(class="link-topo",href="#inscricao", class="goesTo") INSCRIÇÃO
                li 
                    a(class="link-topo",href="#agenda", class="goesTo") AGENDA
                li 
                    a(class="link-topo",href="#resultados", class="goesTo") Resultados
                li 
                    a(class="link-topo goesTo",href="#curso", class="goesTo" ) O striort®
                li 
                    a(class="link-topo",href="#prof",class="goesTo"  ) Educadoras
                li 
                    a(class="link-topo",href="#depoimentos", class="goesTo" ) Depoimentos
                li 
                    a(class="link-topo",href="#diamond", class="goesTo" ) Diamond
            .fechar-menu
                img(src="img/fechar.png", alt="Botão Fechar")

        // Header navegação
        header#topo
            .container#cabeca
                .row.center-vertical
                    .logo-leort.col-xs-6.col-xs-push-3.col-md-2.col-md-push-0
                        a(href="/")
                            img.logo(src="img/striortlogo.svg", alt="Logo Bothanica Mineral")
                    .menu-leort.col-xs-3.col-xs-pull-6.col-md-8.col-md-pull-0
                        // Navegação para desk
                        nav.visible-md.visible-lg
                            ul.display-menu
                                li 
                                    a(class="link-topo",href="#inscricao", class="goesTo") INSCRIÇÃO
                                li 
                                    a(class="link-topo",href="#agenda", class="goesTo") AGENDA
                                li 
                                    a(class="link-topo",href="#resultados", class="goesTo") Resultados
                                li 
                                    a(class="link-topo",href="#curso",  class="goesTo" )  striort®
                                li 
                                    a(class="link-topo",href="#prof", class="goesTo" ) Educadoras
                                //li 
                                    a(class="link-topo",href="#na-midia", class="goesTo") MIDIA
                                li 
                                    a(class="link-topo",href="#depoimentos", class="goesTo" ) Depoimentos
                                li 
                                    a(class="link-topo",href="#diamond", class="goesTo" ) Diamond
                        // Navegação para mob
                        nav.visible-xs.visible-sm
                                .menu-mob
                                    span.icon-bar
                                    span.icon-bar  
                                    span.icon-bar                   


                    .rede-sociais.col-xs-3.col-md-2
                        a(href="https://www.instagram.com/bothanicamineral/?hl=pt" target="_blank", rel="noopener")
                            img(src="img/insta.svg", alt="Instagram")
                        a(href="https://www.facebook.com/Bothanicamineral/" target="_blank", rel="noopener")
                            img(src="img/face.svg", alt="Facebook")
                        a(href="https://www.youtube.com/channel/UCXt09yqtrEngqUL8KANHuDA" target="_blank", rel="noopener")
                            img(src="img/youtube.svg", alt="Youtube")

            .line-blue



        block content


        block footer   
            footer.bg-verde-texto
                .container
                    .col-sm-2
                        h5.bold Institucional
                        ul.footer-texto
                            li 
                                a(href="http://www.bothanicamineral.com.br/sobre-a-empresa" target="_blank", rel="noopener") Sobre a Empresa
                            li 
                                a(href="http://www.bothanicamineral.com.br/atendimento-cliente" target="_blank", rel="noopener") Fale Conosco
                    .col-sm-2
                        h5.bold Sou Profissional
                        ul.footer-texto
                            li 
                                a(href="http://www.bothanicamineral.com.br/beneficios" target="_blank", rel="noopener") Benefícios
                            li 
                                a(href="http://www.bothanicamineral.com.br/protocolos" target="_blank", rel="noopener") Protocolos
                            li 
                                a(href="http://www.bothanicamineral.com.br/cursos-bothanica-mineral" target="_blank", rel="noopener") Cursos

                    .col-sm-4
                        h5.bold Bothanica Mineral®
                        <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe title="Instagram BM" src="//lightwidget.com/widgets/fb9441ac4db45e38a67788e7bb8c2018.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>


                    .col-sm-4
                        .footer-texto.logo-footer
                            a(href="https://www.bothanicamineral.com.br/" target="_blank", rel="noopener")
                                img(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/site/logo.png", alt="Bothanica Mineral", srcset="")
                .container-fluid.logo-biz
                        a(href="http://www.happybiz.com.br/" target="_blank",  rel="noopener")
                            img.logo-biz-img(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/site/logo-biz.png", alt="HappyBiz")

                   




        block scriptsJS
            script(src="http://code.jquery.com/jquery-2.2.4.min.js")
            //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")

            