block settings
    - var title = 'STRIORT®'
    - var version = "?v=1.0.1"
doctype
html(lang="pt")
    head
        include ../_partials/meta-tags
        include ../_partials/icons
        title #{title}
        block CSS
            link(rel="stylesheet", href="css/plugins.css")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.css" +  version )
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick-theme.min.css" +  version  )           
            
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119525716-1"></script><script> window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date()); gtag('config', 'UA-119525716-1'); </script>
        

    body

        include ../_partials/_index/face.pug
        #agemdaPop
            .blackPop
                .popUp.clearfix
                    img.img-responsive.block-center(src="img/agenda-placa.png" + version , alt="Agenda")  
                    .flex-popUp
                        .popUpItem
                            .agenda-item
                                p.data 02/07/2018
                                p.cidade Campo Grande/MS
                                a(href="http://bit.ly/2lr95TB") Link para Inscrição

                        .popUpItem
                            .agenda-item
                                p.data 03/07/2018
                                p.cidade Campina Grande/PB
                                a(href="http://bit.ly/2yymEtV") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 04/07/2018
                                p.cidade Goiânia/GO
                                a(href="https://goo.gl/PbAJhZ") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 07/07/2018
                                p.cidade Curitiba/PR
                                a(href="https://goo.gl/ws6UHZ") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 07/07/2018
                                p.cidade Rio de Janeiro/RJ 
                                a(href="http://bit.ly/2lvjMoe") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 09/07/2018
                                p.cidade Pederneiras/SP
                                a(href="http://bit.ly/2lxcz7d") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 09/07/2018
                                p.cidade Governador Valadares/MG
                                a(href="https://goo.gl/1kiE2E") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 12/07/2018
                                p.cidade Marataízes/ES 
                                a(href="http://bit.ly/2lAPL6A") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 14/07/2018
                                p.cidade Canoas/RS 
                                a(href="http://bit.ly/2tFLW3w") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 14/07/2018
                                p.cidade Rio do Sul/SC 
                                a(href="http://bit.ly/2tFo0gV") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 14/07/2018
                                p.cidade Mossoró/RN
                                a(href="http://bit.ly/2tEKGO9") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 14/07/2018
                                p.cidade São Paulo/SP
                                a(href="http://bit.ly/2tKnMVQ") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 15/07/2018
                                p.cidade Nova Friburgo/RJ
                                a(href="http://bit.ly/2yLYv38") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 20/07/2018
                                p.cidade Ribeirão Preto/SP
                                a(href="http://bit.ly/2tLQMfV") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 21/07/2018
                                p.cidade Uberlândia/MG 
                                a(href="http://bit.ly/2tGHQZ7") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 21/07/2018
                                p.cidade Maceió/AL 
                                a(href="http://bit.ly/2lr95TB") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 21/07/2018
                                p.cidade Vitória da Conquista/BA
                                a(href="http://bit.ly/2tCBYQw") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 21/07/2018
                                p.cidade São José dos Campos/SP
                                a(href="http://bit.ly/2lyo6TC") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 26/07/2018
                                p.cidade Cachoeiro de Itapemirim/ES 
                                a(href="http://bit.ly/2lAhN27") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 28/07/2018
                                p.cidade Brasília/DF
                                a(href="http://bit.ly/2tGKRIP") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 28/07/2018
                                p.cidade Santa Maria/RS
                                a(href="http://bit.ly/2lA6VRG") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 28/07/2018
                                p.cidade Guanambi/BA
                                a(href="http://bit.ly/2tG0sIN") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 28/07/2018
                                p.cidade Fortaleza/CE
                                a(href="http://bit.ly/2yGDLKg") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 28/07/2018
                                p.cidade Londrina/PR
                                a(href="http://bit.ly/2tGV1cx") Link para Inscrição 
 
                        .popUpItem
                            .agenda-item
                                p.data 28/07/2018
                                p.cidade Patos/PB
                                a(href="http://bit.ly/2yKm0JZ") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 04/08/2018
                                p.cidade Catalão/GO
                                a(href="http://bit.ly/2tG7tJo") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 04/08/2018
                                p.cidade São Luís/MA 
                                a(href="http://bit.ly/2tEryQl") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 06/08/2018
                                p.cidade SÃO PAULO/SP
                                a(href="https://goo.gl/3Bf6qQ") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 10/08/2018
                                p.cidade Bauru/SP 
                                a(href="http://bit.ly/2yQuK1k") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 11/08/2018
                                p.cidade Porto Alegre/RS
                                a(href="http://bit.ly/2tG1y7n") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 11/08/2018
                                p.cidade Natal/RN 
                                a(href="http://bit.ly/2tEN7jL") Link para Inscrição 
                        .popUpItem
                            .agenda-item
                                p.data 11/08/2018
                                p.cidade Ubatuba/SP 
                                a(href="http://bit.ly/2yJkCHk") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 11/08/2018
                                p.cidade Rio Verde/GO
                                a(href="http://bit.ly/2tEX1SA") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 18/08/2018
                                p.cidade Joinville/SC 
                                a(href="http://bit.ly/2tFUAiJ") Link para Inscrição 
                        .popUpItem
                            .agenda-item
                                p.data 18/08/2018
                                p.cidade Caxias do Sul/RS
                                a(href="http://bit.ly/2yKCaTy") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 18/08/2018
                                p.cidade Belo Horizonte / MG
                                a(href="http://bit.ly/2tEO3EN") Link para Inscrição 
                        .popUpItem
                            .agenda-item
                                p.data 18/08/2018
                                p.cidade Rio de Janeiro / RJ 
                                a(href="http://bit.ly/2lnqb4N") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 24/08/2018
                                p.cidade Piracicaba/SP
                                a(href="http://bit.ly/2tHyrAn") Link para Inscrição

                        .popUpItem
                            .agenda-item
                                p.data 25/08/2018
                                p.cidade Chapecó/SC
                                a(href="http://bit.ly/2tzZltY") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 25/08/2018
                                p.cidade Juazeiro do Norte/CE
                                a(href="http://bit.ly/2tGvgJc") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 25/08/2018
                                p.cidade Aracaju/SE
                                a(href="http://bit.ly/2yUkVzt") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 25/08/2018
                                p.cidade Itabuna/BA
                                a(href="http://bit.ly/2tGzDnA") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 25/08/2018
                                p.cidade Santos/SP
                                a(href="http://bit.ly/2tBZay8") Link para Inscrição

                        .popUpItem
                            .agenda-item
                                p.data 26/08/2018
                                p.cidade Búzios/RJ
                                a(href="http://bit.ly/2tG6zwC") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 01/09/2018
                                p.cidade Recife/PE
                                a(href="http://bit.ly/2tBZuNm") Link para Inscrição 
                        .popUpItem
                            .agenda-item
                                p.data 01/09/2018
                                p.cidade Montes Claros/MG
                                a(href="http://bit.ly/2yJikYN") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 07/09/2018
                                p.cidade Pederneiras/SP
                                a(href="http://bit.ly/2yMYoV2") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 15/09/2018
                                p.cidade Brusque/SC 
                                a(href="http://bit.ly/2lr95TB") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 15/09/2018
                                p.cidade SÃO PAULO/SP
                                a(href="http://bit.ly/2tA2VnU") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 15/09/2018
                                p.cidade Presidente Prudente/SP
                                a(href="http://bit.ly/2tGQiHJ") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 15/09/2018
                                p.cidade Vitória da Conquista/BA 
                                a(href="http://bit.ly/2tHuU5f") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 16/09/2018
                                p.cidade Porangatu/GO
                                a(href="http://bit.ly/2lDi5W2") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 16/09/2018
                                p.cidade Rio de Janeiro/RJ 
                                a(href="http://bit.ly/2lyISmd") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 22/09/2018
                                p.cidade Teresina/PI 
                                a(href="http://bit.ly/2lAMwfd") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 22/09/2018
                                p.cidade Juíz de Fora/ MG
                                a(href="http://bit.ly/2lC0r51") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 23/09/2018
                                p.cidade Rio das Ostras/RJ
                                a(href="http://bit.ly/2lC0Bt9") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 28/09/2018
                                p.cidade Sorocaba/SP 
                                a(href="http://bit.ly/2lE2Coy") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 29/09/2018
                                p.cidade Itu/SP 
                                a(href="http://bit.ly/2lyKRqF") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 29/09/2018
                                p.cidade Itumbiara/GO
                                a(href="http://bit.ly/2lz3evu") Link para Inscrição

                        .popUpItem
                            .agenda-item
                                p.data 29/09/2018
                                p.cidade Salvador/BA 
                                a(href="http://bit.ly/2lr95TB") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 29/09/2018
                                p.cidade Passo Fundo/RS
                                a(href="http://bit.ly/2lA3Z7B") Link para Inscrição 

                        .popUpItem
                            .agenda-item
                                p.data 29/09/2018
                                p.cidade Criciúma/SC
                                a(href="http://bit.ly/2lyJUOW") Link para Inscrição


                    p.infos INFORMAÇÕES E INSCRIÇÕES
                    p.infos +55 11 4508-8998
                    p.infos cvc1@bothanicamineral.com.br 




                    .fechar-agenda
                        img.img-responsive.block-center(src="img/fechar-agenda.png" + version, alt="")
        #loader
            img.loader-img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/striort/loader.gif" + version, alt="Lodder")
        .ir-topo#ir-topo(style="display:none")
            a#ir-topos(href="#banners", class="goesTo link-topo")
                img(class="seta",src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/striort/seta.png" + version, alt="")
        // menu-nobile
        .menu-mob-flutuante#menu-mob-flutuante.img-back-leort(style="display:none;")
            ul.display-menu-mob
                li 
                    a(class="link-topo",href="#inscricao", class="goesTo") INSCRIÇÃO
                li 
                    a(class="link-topo",href="#agenda", class="goesTo") AGENDA
                li 
                    a(class="link-topo",href="#resultados", class="goesTo") Resultados
                li 
                    a(class="link-topo goesTo",href="#curso", class="goesTo" ) O striort®
                li 
                    a(class="link-topo",href="#prof",class="goesTo"  ) Educadoras
                li 
                    a(class="link-topo",href="#depoimentos", class="goesTo" ) Depoimentos
                li 
                    a(class="link-topo",href="#diamond", class="goesTo" ) Diamond
                li 
                    a(class="link-topo",href="#teaser", class="goesTo" ) Teaser
            .fechar-menu
                img(src="img/fechar.png", alt="Botão Fechar")

        // Header navegação
        header#topo
            .container#cabeca
                .row.center-vertical
                    .logo-leort.col-xs-6.col-xs-push-3.col-md-2.col-md-push-0
                        a(href="/")
                            img.logo(src="img/striortlogo.svg", alt="Logo Bothanica Mineral")
                    .menu-leort.col-xs-3.col-xs-pull-6.col-md-8.col-md-pull-0
                        // Navegação para desk
                        nav.visible-md.visible-lg
                            ul.display-menu
                                li 
                                    a(class="link-topo",href="#inscricao", class="goesTo") INSCRIÇÃO
                                li 
                                    a(class="link-topo",href="#agenda", class="goesTo") AGENDA
                                li 
                                    a(class="link-topo",href="#resultados", class="goesTo") Resultados
                                li 
                                    a(class="link-topo",href="#curso",  class="goesTo" )  striort®
                                li 
                                    a(class="link-topo",href="#prof", class="goesTo" ) Educadoras
                                //li 
                                    a(class="link-topo",href="#na-midia", class="goesTo") MIDIA
                                li 
                                    a(class="link-topo",href="#depoimentos", class="goesTo" ) Depoimentos
                                li 
                                    a(class="link-topo",href="#diamond", class="goesTo" ) Diamond
                                li 
                                    a(class="link-topo teaser",href="#teaser", class="goesTo" ) Teaser
                        // Navegação para mob
                        nav.visible-xs.visible-sm
                                .menu-mob
                                    span.icon-bar
                                    span.icon-bar  
                                    span.icon-bar                   


                    .rede-sociais.col-xs-3.col-md-2
                        a(href="https://www.instagram.com/bothanicamineral/?hl=pt" target="_blank", rel="noopener")
                            img(src="img/insta.svg" + version, alt="Instagram")
                        a(href="https://www.facebook.com/Bothanicamineral/" target="_blank", rel="noopener")
                            img(src="img/face.svg" + version, alt="Facebook")
                        a(href="https://www.youtube.com/channel/UCXt09yqtrEngqUL8KANHuDA" target="_blank", rel="noopener")
                            img(src="img/youtube.svg" + version, alt="Youtube")

            .line-blue



        block content


        block footer   
            footer.bg-verde-texto
                .container
                    .col-sm-2
                        h5.bold Institucional
                        ul.footer-texto
                            li 
                                a(href="http://www.bothanicamineral.com.br/sobre-a-empresa" target="_blank", rel="noopener") Sobre a Empresa
                            li 
                                a(href="http://www.bothanicamineral.com.br/atendimento-cliente" target="_blank", rel="noopener") Fale Conosco
                    .col-sm-2
                        h5.bold Sou Profissional
                        ul.footer-texto
                            li 
                                a(href="http://www.bothanicamineral.com.br/beneficios" target="_blank", rel="noopener") Benefícios
                            li 
                                a(href="http://www.bothanicamineral.com.br/protocolos" target="_blank", rel="noopener") Protocolos
                            li 
                                a(href="http://www.bothanicamineral.com.br/cursos-bothanica-mineral" target="_blank", rel="noopener") Cursos

                    .col-sm-4
                        h5.bold Bothanica Mineral®
                        div(data-is,data-is-access-token="1350688656.e1a1633.e9efc416e2e84183bc71f3ebbe9e2d92", data-is-source="",data-is-width="auto",data-is-layout="grid",data-is-columns="3",data-is-rows="3",data-is-limit="9",data-is-lang="pt-BR", data-is-gutter="0")                    


                    .col-sm-4
                        .footer-texto.logo-footer
                            a(href="https://www.bothanicamineral.com.br/" target="_blank", rel="noopener")
                                img(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/site/logo.png", alt="Bothanica Mineral", srcset="")
                .container-fluid.logo-biz
                        a(href="http://www.happybiz.com.br/" target="_blank",  rel="noopener")
                            img.logo-biz-img(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/site/logo-biz.png" + version, alt="HappyBiz")

                   




        block scriptsJS
            script(src="http://code.jquery.com/jquery-2.2.4.min.js" + version)
            //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" + version, type="text/javascript")
            script(src="js/elfsight-instagram-feed.js")

            